DB_HOST=
DB_PORT=5432
DB_NAME=postgres
DB_USER=
DB_PASS=
DB_SSL=false
PORT=3001
APIS_NET_PE_TOKEN=
DECOLECTA_TOKEN=

# SMTP Gmail (para pruebas)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Supabase Storage (para subir documentos)
SUPABASE_URL=
SUPABASE_SERVICE_KEY=

# SMTP EsSalud backup (produccion, solo dentro de la red EsSalud)
SMTP_BACKUP_USER=
SMTP_BACKUP_PASSWORD=
